Repository YanaXu/test-owner, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MoChilia, @YanaXu, @YanXuForTest

.github/CODEOWNERS:

# To make sure Network PRs go to the right branch, e.g. network-april
/src/Network/    @MoChilia
/src/Compute/    @YanaXu  @YanXuForTest
/src/PolicyInsights/  @YanXuForTest
/src/Batch/ @YanXuForTest @MoChilia

# Make sure changes to .github folder go through our team's double check
/.github/        @YanXuForTest

test
  src/Compute/Compute.Autorest/2.txt
  src/Compute/Compute/1.txt
Owners: @YanaXu, @YanXuForTest

test
  src/PolicyInsights/1.txt
Owners: @YanXuForTest

test
  src/PolicyInsights/2.txt
Owners: @YanXuForTest

test
  src/Test/1.txt
Owners: none

test
  src/Test/2.txt
Owners: none
